<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Go Vein Project</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}"/>
</head>
<body>
<div id="app">
    {% verbatim %}
    <div class="grid" :class="{black: player==1, white: player==2}">
        <div class="row" v-for="(r, row) in grid">
            <div class="cell" v-for="(c, cell) in row" track-by="$index"
                 :class="{star: isStar(r, c), black: grid[r][c] == 1, white: grid[r][c] == 2}"
                 @click="go(r, c)"
            ></div>
        </div>
    </div>
    <div class="form-operate">
        <label>
            <input type="radio" name="player" value="1" v-model="player"/>
            黑
        </label>
        <label>
            <input type="radio" name="player" value="2" v-model="player"/>
            白
        </label>
        <label>
            <input type="checkbox" v-model="auto"/>
            自动切换
        </label>
    </div>
    {% endverbatim %}

    <script src="{% static 'core/lib/vuejs/vue.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
</div>
</body>
</html>