<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Go Vein Project</title>
    <link rel="stylesheet" href="{% static 'core/css/reset.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}"/>
</head>
<body>
<div id="app">
    <input id="init_data" type="hidden" value="{{ state.to_grid }}"
           data-rob-x="{{ state.rob_x }}"
           data-rob-y="{{ state.rob_y }}"/>
    {% verbatim %}
    <div class="grid" :class="{black: action==1, white: action==2}">
        <div class="label-x">
            <div class="label" v-for="label in label.x">{{ label }}</div>
        </div>
        <div class="label-y">
            <div class="label" v-for="label in label.y">{{ label }}</div>
        </div>
        <div class="row" v-for="(x, row) in grid">
            <div class="cell" v-for="(y, cell) in row" track-by="$index"
                 :class="{star: isStar(x, y), black: grid[x][y] == 1, white: grid[x][y] == 2}"
                 @click="go(x, y)">
                <div class="cell-mark rob" v-if="x===rob.x && y===rob.y">×</div>
                <div class="cell-mark flag" v-if="x===pos.x && y===pos.y"></div>
            </div>
        </div>
    </div>
    <form class="form-detail" v-if="history">
        <div class="sub-form">
            <h5>
                State
                <span class="label" :class="{store: state.store}">
                    {{ state.id.substr(0,6) }}</span>
                <a href="javascript:" @click="submit"
                   class="btn-submit"
                   :class="{store: state.store}">[提交]</a>
            </h5>
            <ul v-if="state.store">
                <li v-for="comment in state.comments">
                    {{ comment.content }}
                </li>
            </ul>
        </div>
        <div class="sub-form">
            <h5>Transition</h5>

            <ul>
                <li v-for="comment in transition.comments">
                    {{ comment.content }}
                </li>
            </ul>
        </div>
    </form>
    <table class="table-log">
        <thead>
        <tr>
            <th>ID</th>
            <th>HASH</th>
            <th>MOVE</th>
            <!--<th>x</th>
            <th>y</th>-->
            <th>提</th>
            <th>禁</th>
            <th>子</th>
        </tr>
        </thead>
        <tbody>
        <tr :class="{active: history_cursor == $index}" v-for="log in history">
            <td>{{ $index + 1 }}</td>
            <td>
                <a class="link-log" href="javascript:"
                   :class="{store: log.store}"
                   @click="restore($index)"
                >{{ log.id.substr(0,6) }}</a>
            </td>
            <td>
                <a class="link-move"
                   href="javascript:" v-if="$index">
                    {{ getLabel(log.x, log.y) }}
                </a>
            </td>
            <!--<td>{{ log.x }}</td>
            <td>{{ log.y }}</td>-->
            <td>{{ log.captured.length }}</td>
            <td>{{ getLabel(log.rob.x, log.rob.y) }}</td>
            <td>{{ ['x', '黑', '白'][log.action] }}</td>
        </tr>
        </tbody>
    </table>
    <div class="form-operate">
        <div>
            <label>
                <input type="radio" name="action" value="1" v-model="action"/>
                黑
            </label>
            <label>
                <input type="radio" name="action" value="2" v-model="action"/>
                白
            </label>
            <label>
                <input type="radio" name="action" value="0" v-model="action"/>
                擦除
            </label>
            <label>
                <input type="checkbox" v-model="autoSwitch"/>
                自动切换
            </label>
            <button @click="flip">翻转</button>
        </div>
        <div>
            <button @click="prev">&lt;</button>
            <button @click="next">&gt;</button>
            <button @click="submit">提交</button>
        </div>
    </div>
    {% endverbatim %}

    <ul class="list-states">
        {% for bs in state_list %}
            <li>
                <a href="?id={{ bs.id }}">
                    <img src="/preview/{{ bs.id }}/"
                         alt="{{ bs.id | slice:":6" }}"/>
                    <div class="label">{{ bs.id | slice:":6" }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>


    <script src="{% static 'core/lib/vuejs/vue.js' %}"></script>
    <script src="{% static 'core/lib/vuejs/vue-resource.min.js' %}"></script>
    <script src="{% static 'core/js/resource.js' %}"></script>
    <script src="{% static 'core/js/utils.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
</div>
</body>
</html>