<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Go Vein Project</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}"/>
</head>
<body>
<div id="app">
    <input id="init_data" type="hidden" value="{{ state.to_grid }}"
           data-rob-x="{{ state.rob_x }}"
           data-rob-y="{{ state.rob_y }}"/>
    {% verbatim %}
    <div class="grid" :class="{black: action==1, white: action==2}">
        <div class="label-x">
            <div class="label" v-for="label in label.x">{{ label }}</div>
        </div>
        <div class="label-y">
            <div class="label" v-for="label in label.y">{{ label }}</div>
        </div>
        <div class="row" v-for="(x, row) in grid">
            <div class="cell" v-for="(y, cell) in row" track-by="$index"
                 :class="{star: isStar(x, y), black: grid[x][y] == 1, white: grid[x][y] == 2}"
                 @click="go(x, y)"
            ></div>
        </div>
    </div>
    <table class="table-log">
        <thead>
        <tr>
            <th>序号</th>
            <th>位置</th>
            <th>x</th>
            <th>y</th>
            <th>提子</th>
            <th>禁入点</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr :class="{active: history_cursor == $index}" v-for="log in history">
            <td>{{ $index + 1 }}</td>
            <td>{{ getLabel(log.x, log.y) }}</td>
            <td>{{ log.x }}</td>
            <td>{{ log.y }}</td>
            <td>{{ log.captured.length }}</td>
            <td>{{ getLabel(log.rob.x, log.rob.y) }}</td>
            <td>{{ ['x', '黑', '白'][log.action] }}</td>
        </tr>
        </tbody>
    </table>
    <div class="form-operate">
        <div>
            <label>
                <input type="radio" name="action" value="1" v-model="action"/>
                黑
            </label>
            <label>
                <input type="radio" name="action" value="2" v-model="action"/>
                白
            </label>
            <label>
                <input type="radio" name="action" value="0" v-model="action"/>
                擦除
            </label>
            <label>
                <input type="checkbox" v-model="autoSwitch"/>
                自动切换
            </label>
        </div>
        <div>
            <button @click="prev">&lt;</button>
            <button @click="next">&gt;</button>
            <button @click="submit">提交</button>
        </div>
    </div>
    {% endverbatim %}

    <hr/>

    <table class="table-states">
        <thead>
        <tr>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        {% for bs in state_list %}
            <tr>
                <td>
                    <a href="?id={{ bs.id }}">{{ bs.id }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <script src="{% static 'core/lib/vuejs/vue.js' %}"></script>
    <script src="{% static 'core/lib/vuejs/vue-resource.min.js' %}"></script>
    <script src="{% static 'core/js/utils.js' %}"></script>
    <script src="{% static 'core/js/resource.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
</div>
</body>
</html>