@import (once) "template";

@color-line: #333;
//@color-stone-white: white;
@color-stone-white: svg-gradient(to bottom, #FFFFFF, #CCCCCC);
@color-stone-white-border: #AAA;
//@color-stone-black: black;
@color-stone-black: svg-gradient(to bottom, #555555, #000000);

@cell-size: 25px;

body {
  padding: 15px;
}

.grid {
  position: relative;
  background: burlywood;
  float: left;
  text-align: center;
  padding: 35px 20px 20px 35px;
  border: 2px solid @color-line;
  width: @cell-size * 18 + 19;
  .label-x {
    position: absolute;
    top: 23px;
    left: 2px;
    .label {
      width: @cell-size;
      height: @cell-size;
      line-height: @cell-size;
      font-size: 12px;
      margin-bottom: 1px;
    }
  }
  .label-y {
    position: absolute;
    top: 2px;
    left: 23px;
    .label {
      float: left;
      width: @cell-size;
      height: @cell-size;
      line-height: @cell-size;
      font-size: 12px;
      margin-right: 1px;
      text-align: center;
    }
  }
  &.white .cell:hover::after {
    background: rgba(255, 255, 255, 0.5);
  }
  &.black .cell:hover::after {
    background: rgba(0, 0, 0, 0.5);
  }
  .row {
    clear: both;
    &:last-of-type {
      .cell {
        height: 0;
      }
    }
    .cell {
      position: relative;
      float: left;
      width: @cell-size;
      height: @cell-size;
      border-top: 1px solid @color-line;
      border-left: 1px solid @color-line;
      &:last-of-type {
        width: 0;
      }
      &.star::before {
        content: "";
        display: block;
        position: absolute;
        left: -3px;
        top: -3px;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background: black;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -(@cell-size + 1px) / 2;
        left: -(@cell-size + 1px) / 2;
        width: @cell-size;
        height: @cell-size;
        box-sizing: border-box;
        border-radius: 12px;
      }
      &.white::after {
        background: @color-stone-white;
        //border: 1px solid @color-stone-white-border;
      }
      &.black::after {
        background: @color-stone-black;
      }
      .cell-mark {
        @radius: (@cell-size - 1px) / 2;
        position: absolute;
        z-index: 1;
        top: -8px;
        left: -8px;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        text-align: center;
        line-height: 15px;
        &.flag {
          border: 2px solid red;
          border-radius: 9999px;
        }
        &.rob {
          color: red;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}

table {
  font-size: 12px;
  border-collapse: collapse;
  tr.active {
    background: rgba(255, 255, 0, 0.2);
  }
  th, td {
    padding: 2px 4px;
    border: 1px solid @color-line;
  }
  &.table-log, &.table-state {
    float: right;
  }
  .link-log {
    color: red;
    &.store {
      color: green;
    }
  }
}

.form-operate {
  padding: 10px 0;
  clear: left;
}

.form-detail {
  float: left;
  .sub-form {
    float: left;
    width: 300px;
  }
}

ul.list-states {
  padding: 10px 0;
  clear: left;
  float: left;
  width: 515px;
  li {
    float: left;
    margin: 0 4px 4px 0;
    a {
      display: block;
      position: relative;
      img {
        display: block;
      }
      .label {
        position: absolute;
        left: 0;
        top: 0;
        padding: 2px;
        font-size: 12px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
      }
    }

  }
}